<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
    <title>Cadmus Solutions</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">Cadmus</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#">Personas</a>
              <a class="nav-link" href="#">Soluciones</a>
              <a class="nav-link"  href="#" >Acerca de Nosotros</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <h1 style="text-align: center;">Personas</h1>


      </div>
      <div class="container-fluid bg-light" >
        <div class="row">
          <div class="col-6 col-md-6">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
              <option selected>Documento de Identidad</option>
              <option value="1">Cedula de Ciudadania</option>
              <option value="2">Tarjeta de Identidad</option>
              <option value="3">Carnet de Extranjeria</option>
              <option value="2">Pasaporte</option>
            </select>
          </div>

          <div class="col-6 col-md-6">
            <input type="text" class="form-control form-control-lg mb-3" placeholder="Número de Identificación" aria-label="Large input example">
          </div>

          <div class="col-6 col-md-6">
            <input type="text" class="form-control form-control-lg mb-3" placeholder="Nombres" aria-label="Large input example">
          </div>

          <div class="col-6 col-md-6">
            <input type="text" class="form-control form-control-lg mb-3" placeholder="Apellidos" aria-label="Large input example">
          </div>

          <div class="col-12 col-md-12">
            <input type="text" class="form-control form-control-lg mb-3" placeholder="Dirección" aria-label="Large input example">
          </div>

          <div class="col-6 col-md-6">
            <input type="text" class="form-control form-control-lg mt-4" placeholder="Teléfono" aria-label="Large input example">
          </div>

          <div class="col-6 col-md-6">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input type="date" class="form-control form-control-lg mb-3" placeholder="Fecha Nacimiento" aria-label="Large date input example">
        </div>


        <div class="col-6 col-md-6 d-flex justify-content-end">
       
          <a href="/index.html" class="btn btn-primary btn-lg" role="button">Cancelar</a>
        </div>

        <div class="col-6 col-md-6 d-flex ">
          <button type="button" class="btn btn-primary btn-lg">Guardar</button>
        </div>

        </div>
          
      
      
      
        </div>
      </div>



    
</body>
</html>